body{
	width: auto;
	height: auto;	
}

footer{
	position: absolute;
	bottom: 0;	
  	font-family: "Droid Serif", serif;
  	vertical-align: center;
	text-align: center;
	min-width: 100%;
}
.footer__block_bottom{
	width: 100%;
	height: auto;
	display: block;
	background-color: #aa0d0d;
}
.footer__quote{
	padding-top: 25px;
	padding-bottom: 15px;
	color: #fff;
	font-size: 1.3rem;
	opacity: 0.9;
}
.footer__copyright__txt{
	padding-bottom: 25px;
	color: #fff;
	opacity: 0.5;
}
.footer__block_top{
	height: auto;
	background-color: #1e1e1e;
	padding-bottom: 35px;
}
.footer__social__media{
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 2.7em;
	color:#ed1a1a;
	opacity: 0.86;
}
.svg-inline--fa{
	margin-right: 0.35em;
	cursor:hand;
	transition-timing-function: ease-in-out;
  	transition: .33s;
}
.svg-inline--fa:hover{
	color:#dbd2d2;
}
.footer__block_top a{
	display: inline-block;
	text-decoration: none;
	color:#fff;
}
.footer__link__big a{
	font-size: 1.3rem;
	margin-right: 15px;
	margin-bottom: 10px;
	opacity:0.9;
}
.footer__link__small a{
	font-size: 0.8rem;
	opacity:0.6;
	padding-right: 7px;
	padding-left: 7px;
	border-right: 1px solid #fff;
}
.footer__link__small a:last-child{
	border: none;
}
.footer__content{
	width: 20px;	
}
@media screen and (max-width: 800px) {
.footer__block_top{
	padding-bottom: 1.0rem ;
}
.footer__link__small{
  	display: none;
}
.footer__social__media{
	font-size: 2.0rem;
}
.footer__link__big{
	margin-left: 0.4rem;
}
.footer__link__big a{
	font-size: 1.0rem !important;
	margin-right: 1rem;
}
.footer__block_bottom{
}
.footer__quote{
	padding-top: 15px;
	font-size: 1.2rem;
}
.footer__copyright__txt{
	font-size: 0.8rem;
}
}